@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');


body {
    width: 400px;
    height: 820px;
    margin: 0;
    padding: 0;
    background-color: #F15156;
    font-family: 'Nunito', sans-serif;
    color: #FFF;
    overflow: hidden;
}

.page1 {
    margin: 0;
    padding: 0;
}

nav {
    background: #E44449;
    min-width: 100vw;
    height: 80px;
    padding: 0 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}

nav a {
    text-decoration: none;
}

nav button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 8.33px;
    margin-right: 40px;
    cursor: pointer;

}

#menu {
    display: flex;
    opacity: 0;
    height: 170px;
    border-radius: 0 0 20px 20px;
    background-color: #E44449;
    position: absolute;
    top: 80px;
    min-width: 100vw;
    padding-bottom: 28px;
    transition: opacity 0.2s ease;
}

.openMenu {
    opacity: 1 !important;
    z-index: 10;
}

.line {
    position: absolute;
    width: 90vw;
    height: 0;
    border: 1px solid #FFF;

    top: 0;
    left: 0;
    right: 0;
    margin: 0 20px;
    opacity: 0.2;
}

#menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    
    padding: 0 20px;
    
}
#menu ul li {
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    color: #FFF;
    opacity: 0.5;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
}

#menu ul li a:hover {
    font-weight: 700;
    opacity: 1;
}

main {
    padding: 52px 0 0 21px;
}

#avatars img {
    position: absolute;
}

#avatars img:nth-child(1){
    left: 20px;
}

#avatars img:nth-child(2) {
    left: 38px;
}

#avatars img:nth-child(3) {
    left: 56px;
}

#avatars img:nth-child(4) {
    left: 73px;
}

#texts {
    position: relative;
    top: 35px;
    font-size: 14px;
}

#texts span {
    font-weight: 700;
}

#texts h1 {
    width: 268px;
    height: 144px;
    font-size: 44px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: left;
}

#texts p:nth-child(3) {
    display: none;
}

.hero {
    margin-top: 100px;
}

.container {
    display: flex;
    width: 850px;
    margin: auto;
    position: relative;
    left: -265px;
    gap: 20px;
}

.item {
    width: 279px;
    height: 255px;
    background: linear-gradient(180deg, #F36A6F 17.23%, #E44449 73.77%);
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.item:nth-child(1) img{
    visibility: hidden;
}

.item button{
    position: absolute;
    width: 240px;
    height: 55px;

    background-color: #FFF;
    border-radius: 9px;
    border: none;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: #0D3B66;
}

@media screen and (min-width: 400px) {

    body {
        width: 1440px;
        margin-left: 6.88vw;
    }

    nav {
        margin: 80px 0 0 0;
        min-width: 10vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #F15156;
        gap: 36.3vw;
    }

    #logo {
        gap: 40px; 
    }

    #logo img {
        transform: scale(1.5);
    }

    #burguer-menu{
        width: 4.5rem;
        height: 4.5rem;

        border: none;
        border-radius: 15px;
        z-index: 10;

        cursor: pointer;
    }

    #burguer-menu img {
        transform: scale(1.5);
    }

    main { 
        display: flex;
    }

    #section-1 {
        flex: 1;
        
        display: flex;
    }

    #avatars img {
        transform: scale(1.2);
    }

    #avatars img:nth-child(1){
        left: 8.1vw;
    }
    
    #avatars img:nth-child(2) {
        left: 10vw;
    }
    
    #avatars img:nth-child(3) {
        left: 11.7vw;
    }
    
    #avatars img:nth-child(4) {
        left: 13.3vw;
    }

    #texts {
        width: 500px;

    }

    #texts p { 
        position: absolute;
        left: 8vw;
        top: -43px;
        
        font-size: 1rem;
    }

    #texts h1 {
        margin-top: 80px;
        width: 450px;
        font-family: 'Nunito', sans-serif;
        font-size: 72px;
        font-weight: 700;
    }

    .break {
        display: none;
    }

    #texts p:nth-child(3) {
        display: block;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;

        position: relative;
        left: 0;
        top: 100px
    }

    .hero { 
        flex: 2;
        justify-content: center;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 541px 152px 712px;
        height: 100vh;
        
        min-width: 56.5vw;
        height: 1445px;
        gap: 20px;
        
        position: absolute;
        left: 50vw;
        top: 40px;
        
    }

    .item {
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 592px;
        text-align: center;

        background: #E44449;
    }

    .item:nth-child(1) {
        height: 100%;
        grid-row: 1;
        background: linear-gradient(180deg, #F36A6F 17.23%, #E44449 73.77%);
    }

    .item:nth-child(1) img {
        margin-bottom: 11px;
        visibility: visible;
    }

    .item:nth-child(2) {
        height: 152px;
        grid-row: 2;
    }

    .item:nth-child(2) img {
        display: none;
    }

    .item button {
        border-radius: 20px;
        width: 492px;
        height: 72px;
        margin: 0;

        font-size: 20px;
        line-height: 34px;
        color: #0D3B66;
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
    }

    .item button:hover{
        cursor: pointer;
    }

    .item:nth-child(3) {
        height: 10%;
        grid-row: 3 / span 1;
        border-radius: 20px 20px 0 0 ;
    }

    .item:nth-child(4) { 
        grid-row: 1 / span 2;
        grid-column: 2;
        height: 100%;
        width: 100%;
        border-radius: 20px 0 0 20px;
    }

    .item:nth-child(5) {
        height: 10%;
        width: 100%;
        border-radius: 20px 0 0 0 ;
    }



    /* Menu*/
    #menu {
        display: flex;
        min-width: 592px;
        height: 513px;
        border-radius: 20px;
        position: absolute;
        top: 40px;
        left: 50vw;
        opacity: 0;
        transition: opacity 0.2s ease;
        z-index: 9;
    }

    .line {
        display: none;
    }



    #menu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 16px;
        
        padding: 0 50px;
        
    }
    #menu ul li {
        list-style: none;
    }

    #menu ul li a {
        text-decoration: none;
        color: #FFF;
        opacity: 0.5;
        font-size: 36px;
        line-height: 110%;
        letter-spacing: -0.02em;
    }

    #menu ul li a:hover {
        font-weight: 700;
        opacity: 1;
    }



}